<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Client Information</h1>
<%= render 'form', locals: { accounts: @accounts} %>



<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>

        </div>
      </div>
    </div>