<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
    <h1>Guthy|Renker 10 Commandments</h1>
  </div>

  <div class="panel-body-commandments">

    <strong>1. Thou shalt take risks.</strong>
    <p>Risk is a prerequisite for success. So feel the fear and do it anyway, and know that every entrepreneur before you has felt the pang of panic at one time or another. The trick is to fight the fear with four simple rules. Research your ideas extensively. Keep your goals clear. Invest and re-invest, and never be afraid to try new things. Soon your fear will be replaced by financial fortitude.</p>

    <strong>2. Thou shalt make nice with your competitors.</strong>
    <p>The old law of “you wash my back, I’ll wash yours” is just as applicable in our modern age. Asking competitors for help will reap unparalleled rewards, from getting invaluable advice (especially on new ventures) to combining your forces for mutual benefit. When it comes time to return a favor, brokering a deal for a competitor will allow you to cut in on their profits. It’s a win-win situation.</p>

    <strong>3. Thou shalt pick the right people.</strong>
    <p>The people you surround yourself with will often make the difference between profit and perish. Choose partners who offer varying perspectives to cover all your bases. Surround yourself with people who are talented, forward thinking, conscientious and loyal, and you’ll create an unbeatable team. Finally, take your time to find the right people – it will be time well spent.</p>

    <strong>4. Thou shalt have fruitful relationships that flourish and multiply.</strong>
    <p>Take the initiative to build relationships with agents, vendors, competitors and colleagues—you never know where your next opportunity will come from. Networking works, so keep your contact list updated and don’t underestimate to power of new media in maintaining relationships. Seemingly unnecessary meetings and contacts today can turn into valuable contracts tomorrow.</p>

    <strong>5. Thou shalt welcome change.</strong>
    <p>Even the subtlest tweak to your pitch, packaging or ad campaign can have a dramatic impact on results. A new headline here and a bumped-up offer there can turn a ho-hum seller into a hit. Be objective and ruthless in your analysis and discard whatever doesn’t work. Finally, when re-introducing a tried and true product, change its look but leave the goods alone.</p>

    <strong>6. Thou shalt master the integrated media marketplace.</strong>
    <p>Don’t stop at broadcast. TV generates interest in a product but a broader integrated media approach ensures maximum profits. Bolster infomercials with traditional commercials, home shopping appeals, print ads, catalogs, direct mail, email, a strong digital presence, social media, and other engaging outreach. Consider new products in light of their full multimedia potential and always be on the lookout for new media to tap into.</p>

    <strong>7. Thou shalt join and lead thy trade association.</strong>
    <p>A leader leads, so be on the frontlines especially in the heat of battle. In 1990, Congress and the Federal Trade Commission were about to impose a legislative straightjacket on the infomercial industry in response to incidents of fraud and abuse. Asked to testify before a Congressional subcommittee, Guthy-Renker took the initiative to form a trade group that would voluntarily police the industry. Today that group, known as the Electronic Retailing Association, serves as the ethical compass for the direct response television industry and Greg Renker remains its Chairman Emeritus. Because Guthy-Renker was unafraid to lead, we garnered greater respect and prestige among our colleagues, government, and the world.</p>

    <strong>8. Thou shalt build on thy company’s brand name at all times.</strong>
    <p>Get your name out there, but cultivate the right image from the get-go because once the public has a perception about you it is nearly impossible to change it. Inspire consumer recognition and trust by associating the name of your company with each product and program, in effect selling your company as aggressively as your products. Be willing to be visible, even if it means taking a hit for your industry. The result will be that competitors and customers will think you are bigger, better, and more powerful than you might actually be.</p>

    <strong>9. Thou shalt not limit thy upside.</strong>
    <p>Don’t bet the farm on fads. Look for products that sell indefinitely to the largest and most reliable audience possible. Do your homework and go the extra mile to find products with the greatest multimedia potential. Be on the lookout for new capital sources but remember that not every opportunity is your opportunity, so don’t be afraid to pass.</p>

    <strong>10. Thou shalt be prepared to toss out these commandments and start over!</strong>
    <p>Adapt, adapt, adapt. The direct marketing industry changes on a daily basis. The only eternal rule is to keep your ear to the ground and your antennae up at all times. Stay ahead of and capitalize on changing trends. As your company evolves, so must your corporate strategy. Don’t fall in love with a business plan because it will only break your heart.</p>



  </div>



</div>