
<h1>About Us</h1>
 <body>
  <div class="container-fluid">
    <div class="row-fluid" >
      <div class="span2">
        This is a photo sharing website, upload your photos to share with your friends!
      </div>
      <div class="jumbotron">
        .............
      </div>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail">
            <img data-rc="images/Polar-Bear.png/256/256" alt="">
            <h3> Snowmobile </h3>
            <p> Natasha on a Snowmobile </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>