
<h1>About My Page</h1>
 <body>
  <div class="container-fluid">
    <div class="row-fluid" >
      <div class="span2">
      </div>
      <div class="jumbotron">
        This is a photo sharing website, upload your photos to share with your friends!
        The photo upload and sharing is still under developement, but is coming soon!
      </div>

    </div>
  </div>
</body>