
<div class="jumbotron center" >
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><%= link_to 'New Account', new_account_path(:client_id => @client.id ) %></div>
    <div class="panel-body">
      <table class="table table-hover">
        <tr>
          <th>Acount Name</th>
          <th>Description</th>
          <th>Activity</th>
          <th><span class="glyphicon glyphicon-remove"></span>
          </th>
        </tr>
        <% @client.accounts.each  do |c| %>
            <tr>
              <td><%= link_to c.name, edit_account_path(c.id)  %></td>
              <td><%= c.description %></td>
              <% if c.active? %>
                  <td> Active </td>
                  <th><%= button_to 'Delete', c, method: :delete %></th>


              <% else %>
                  <td> In-Active </td>
                  <td>
                    <button type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </td>
              <% end %>
            </tr>
        <% end %>

      </table>
    </div>


  </div>
</div>