<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Edit Account</h1>
<%= render 'form' %>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>

    </div>
  </div>
</div>